.title {
  font-size: 16px; text-shadow: 0px 0px 1px black; font-weight: bold;
}

.title a {
  text-decoration: none;
  color: #b81007;
}

.title a:hover {
  text-decoration: underline;
}

.tabrnw TABLE {
  width: 100%; /* Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

.tabrnw TH {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 0px solid maroon; /* Параметры рамки */
  text-align: center; /* Выравнивание по центру */
  background: #757575;
}

.tabrnw TD {
  padding: 10px; /* Поля вокруг содержимого таблицы */
  border: 1px solid maroon; /* Параметры рамки */
  text-align: left; /* Выравнивание по левому краю */
  border-color: #757575;
}

.rc { /* Стиль для первой колонки */
  text-align: left; /* Выравнивание по левому краю */
//    color: #757575; /* Цвет текста */
  width: 70%;
}

.lc { /* Стиль для второй колонки */
  text-align: left; /* Выравнивание по левому краю */
//    color: #757575; /* Цвет текста */
  width: 30%;
}
